---
BasedOnStyle: LLVM
AccessModifierOffset: -8
AlignAfterOpenBracket: true
AlignEscapedNewlinesLeft: false
AlignOperands: true
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: WebKit
BreakConstructorInitializers: AfterColon
BreakStringLiterals: false
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 16
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 8
Language: Cpp
MaxEmptyLinesToKeep: 2
SortIncludes: true
SpaceAfterCStyleCast: false
UseTab: Always
